.navbar {
    width: 100%;
    height: 75px;
    position: absolute;
    top: 0 !important;
    background: transparent;
    z-index: 10;
}


.navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 15px;
}

.navbar-left,
.navbar-right {
    display: flex;
}


.navbar-icon {
    height: 30px;
    width: auto;
    margin: 0 15px;
}

.navbar-burger {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}


.navbar-burger span {
    width: 2rem;
    height: 0.25rem;
    background: #333;
}

.navbar-dropdown {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 75px;
    left: 0;
    background: #fff;
}

.navbar-dropdown a {
    padding: 10px 15px;
    border-bottom: 1px solid #ddd;
}

/* Responsive styles */
@media (max-width: 768px) {
    .navbar-content {
        justify-content: space-between;
    }

    .navbar-right {
        display: none;
    }

    .navbar-burger {
        display: flex;
    }

    .navbar-dropdown.show {
        display: flex;
    }
}