{% load static %}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}" type="text/css">
<nav class="navbar">
    <div class="navbar-content">
        <div class="navbar-left">
            <a href="/">
                <img src="{% static 'images/home-icon.png' %}" alt="Home" class="navbar-icon">
            </a>
        </div>
        <div class="navbar-right">
            <a href="{% url 'store:wishlist_detail' %}">
                <img src="{% static 'images/love.png' %}" alt="Wishlist" class="navbar-icon">
            </a>
            <a href="{% url 'store:cart_detail' %}">
                <img src="{% static 'images/shopping-bag.png' %}" alt="Cart" class="navbar-icon">
            </a>
        </div>
        <div class="navbar-burger">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <div class="navbar-dropdown" id="navbarDropdown">
        <a href="/">Home</a>
        <a href="{% url 'store:wishlist_detail' %}">Wishlist</a>
        <a href="{% url 'store:cart_detail' %}">Cart</a>
    </div>
</nav>

<script>
    document.querySelector('.navbar-burger').addEventListener('click', function () {
        document.querySelector('.navbar-dropdown').classList.toggle('show');
    });
</script>