{% extends 'base.html' %}

{% block content %}

{% include "includes/hero.html" %}

<ul>
    {% for product in products %}
    <li>
        <a href="{% url 'store:product_detail' category_slug=product.category.slug product_slug=product.slug %}">
            {{ product.name }} - {{ product.price }}<br>
            {{ product.description }}
        </a>
        <br>
        <img src="{{ product.image.url }}" alt="{{ product.name }}" style="max-width: 100px; max-height: 100px;">
    </li>
    <hr>
    {% endfor %}
</ul>

{% endblock content %}